/venv
__pycache__/
.env
logs/*
datasets/*
inputs/*
outputs/*
outputs/batch_experiments/*
mlruns/*
mlartifacts/*
src/test-mlflow.py

!logs/.gitkeep
!datasets/.gitkeep
!inputs/.gitkeep
!outputs/.gitkeep
!outputs/batch_experiments/.gitkeep
